  
<button type="button" routerLink="/addClass" class="btn btn-outline-secondary" mdbRipple rippleColor="dark"  >Ajouter Classe</button>
<br>
<br>
<div class="row">
    <div class="col-md-4">
      <div class="card text-white  mb-3" style="max-width: 18rem;"style="background-color: #7ed957;">
        <div class="card-header">Classe 1</div>
        <div class="card-body">
          <h5 class="card-title">Comptes de Capitaux</h5>
          <p class="card-text">10. Capital et reserves</p>
          <button type="button" routerLink="/add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;" style="background-color: #22db3b;">
        <div class="card-header">Classe 2</div>
        <div class="card-body">
          <h6 class="card-title">Comptes d'immobilisations</h6>
          <p class="card-text">20. Immobilisations Incorporelles</p>
          <button type="button" routerLink="/add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color:#fa9510;">
        <div class="card-header">Classe 3</div>
        <div class="card-body">
          <h6 class="card-title">Comptes de Stocks</h6>
          <p class="card-text">31. Matieres premiers</p>
          <button type="button" routerLink="/add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
          </div>
          
        </div>
        
      </div>
      
    </div>
    <div class="row">      
      <div class="col-md-4">
        <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color: #f3dc11;">
          <div class="card-header">Classe 4</div>
          <div class="card-body">
            <h5 class="card-title">Comptes de Tiers</h5>
            <p class="card-text">40. Fournisseurs</p>
            <button type="button" routerLink='/add'  class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color: #61e2a1;">
          <div class="card-header">Classe 5</div>
          <div class="card-body">
            <h6 class="card-title">Comptes Financiers</h6>
            <p class="card-text">50.Valeurs Mobilieres</p>
            <button type="button" routerLink="/add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color: #55c4f0;">
          <div class="card-header">Classe 6</div>
          <div class="card-body">
            <h6 class="card-title">Comptes De charhes</h6>
            <p class="card-text">60. Achats</p>
            <button type="button" routerLink="add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color: #eb11f3;">
            <div class="card-header">Classe 7</div>
            <div class="card-body">
              <h5 class="card-title">Comptes de Produits</h5>
              <p class="card-text">70. Produits et marchandises</p>
              <button type="button" routerLink='add'  class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white  mb-3" style="max-width: 18rem;" style="background-color: #e930ab;">
            <div class="card-header">Classe 8</div>
            <div class="card-body">
              <h6 class="card-title">Comptes Speciaux</h6>
              <p class="card-text">80.Engagements</p>
              <button type="button" routerLink="add" class="btn btn-outline-dark" mdbRipple rippleColor="dark">Ajouter</button>
            </div>
          </div>
        </div>
        
        </div>
  
  
  
  
